{% extends 'base.html' %}
{% block content %}

    <!-- home section starts  -->
    <section class="home" id="home">
        <div class="content">
            <h3>Your One-Stop Shop for <span>Electronics</span> & <span>Fashion</span></h3>
            <p>Find the latest gadgets and stylish apparel all in one place. Upgrade your wardrobe and tech collection
                effortlessly with our curated products.</p>
            <a href="#" class="custom-btn">Shop Now</a>
        </div>
    </section>
    <!-- home section ends -->

    <!-- features section starts  -->
    <section class="features" id="features">
        <h1 class="heading">Why <span>Shop With Us</span></h1>
        <div class="box-container">
            <div class="box">
                <img src="../static/images/p1.svg" alt="">
                <h3>Latest Electronics</h3>
                <p>Explore top-rated electronics, from smartphones to smart TVs. We offer cutting-edge technology at
                    unbeatable prices.</p>
                <a href="#" class="custom-btn">Learn More</a>
            </div>

            <div class="box">
                <img src="../static/images/feature-img-2.png" alt="">
                <h3>Trendy Fashion</h3>
                <p>Shop the hottest trends in clothing for men, women, and kids. Stay stylish with our ever-updating
                    collection.</p>
                <a href="#" class="custom-btn">Learn More</a>
            </div>

            <div class="box">
                <img src="../static/images/feature-img-3.png" alt="">
                <h3>Fast & Free Delivery</h3>
                <p>We offer fast and free delivery on all orders, ensuring you get your items quickly and
                    hassle-free.</p>
                <a href="#" class="custom-btn">Learn More</a>
            </div>
        </div>
    </section>
    <!-- features section ends -->
{% endblock %}